<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>Central do Cubo</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="tutorial/css/tutorial.css" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-light bg-light">
	  <a class="navbar-brand" href="/">
	    <img src="bootstrap/icons/rubik.png" width="32" height="32" class="d-inline-block align-top" alt="">
	    Central do Cubo
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" href="/">Início</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Tutoriais</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Cronômetro</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="https://www.worldcubeassociation.org/results/events.php" target="_blank">Ranking WCA</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="mailto:igor.alves48@outlook.com?Subject=Central%20Do%20Cubo%20Entre%20Em%20Contato">Entre em Contato</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/login" onclick="removeRole()">Sair</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	

	<div class="jumbotron conteiner1">
		<h3>Cadastrar Tutorial</h3>
		
		<form method="post">
		  <div class="form-group">
		    <label for="name">Nome</label>
		    <input type="text" class="form-control" id="name" placeholder="Digite o nome" name="name">
		  </div>
		  <div class="form-group">
		    <label for="description">Descrição</label>
		    <input type="text" class="form-control" id="description" placeholder="Descreva o tutorial" name="description">
		  </div>
		  <div class="form-group">
		    <label for="dificulty">Dificuldade</label>
		    <select class="form-control" id="dificulty" name="dificulty">
		      <option>Básico</option>
		      <option>Intermediário</option>
		      <option>Avançado</option>
		    </select>
		  </div>
		  <div class="form-group">
		    <label for="link">Link</label>
		    <input type="text" class="form-control" id="link" placeholder="Insira aqui o link do tutorial" name="link">
		  </div>
		  <button type="Submit" class="btn btn-primary">Salvar</button>
		  <a href="/tutoriais" role="button" class="btn btn-secondary">Voltar</a>
		</form>
	</div>

<script src="login/js/login.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
if (sessionStorage.getItem("Role") == undefined) {
	window.location.href = "/login";
}
</script>
</body>
</html>
